# Project dependencies

# For setting and interacting with the HTTP server
Flask==3.0.1
gunicorn==23.0.0
requests==2.32.3

# For math and statistic calculations
numpy==2.1.3
scipy==1.14.1

# For plotting the results
matplotlib==3.9.2